version: '3'
services:

  db:
    image: postgres:11.1
    environment:
      POSTGRES_USER: darknight
      POSTGRES_PASSWORD: test
    ports:
    - 5432:5432
    volumes:
    - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  pgdata: {}
